ul{
    list-style-type: none;
    color: #C1C1C1;
    
}
 
nav a{
	 color: #DCDCDC;
    float: right;
    padding: 14px 16px;
    margin-left: 20px;
    margin-right: 20px;
	 text-decoration: none;
 
}
 
#confirmation {
	height:30%;
	width: 30%;
	text-align: center;
}
 
ul a:visited{
    color: #C1C1C1;
}
 
body{
    background: url(../images/indexBackground.png) no-repeat center center fixed; 
	 text-align: center;
	 -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
 
nav{
    background-color: #1E1D1D;
    opacity: 0.97;
    overflow: hidden;
    width: 100%;
    
}
 
footer{
    /*
    background-color: #9A9A9A;
    overflow: hidden;
    width: 100%;
    height: 50px;
    opacity: 0.85;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;   
*/
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
 
footer div{
    /*
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
*/
    background-color: #9A9A9A;
    overflow: hidden;
    width: 100%;
    height: 50px;
    opacity: 0.85;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;   
 
  
}
 
.fa {
	text-decoration: none;
	color: #1E1D1D;
    padding: 20px;
    font-size: 200px;
}
 
.fa:hover{
	color: #DCDCDC;
}
 
#circle{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #D8D8D8;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 54px;
    font-family: Copperplate;  
    opacity: 0.5;
}
 
#circle p {
    opacity: 1;
}
 
#circleContainer{
    display: flex; 
    align-items: center; 
    justify-content: center;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear; 
 
}
 
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
 
#homeBody{
    text-align: center;
}
 