body{
    background-image: none;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

.container div{
    width: 500px;
    text-align: center;
    background-color: #AED9E9
}


form label{
    display: inline-block;
    width: 200px;
    text-align: left;
}

form input{
    padding-left: 50px;
}



 #createAccBtn{
    display:inline-block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    font-size: 15px;
    width: 200px;
    }

#createAccBtn:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    border-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .innerContainer button{
    display:block;
    margin:0.4em auto;
        }
    }


.fieldInput{
    background-color: black;
}