/*table th, td{
    border-style: inset;
    border-radius: 5px;
	 border: 3px black;
	 border-bottom: 1px solid #ddd;
}*/

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 350px;
}

th,
td {
  /*border: 1px solid black;*/
  width: 300px;
  overflow: hidden;
}

.w3-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1 {
    text-align:center;
}
